# Sample config.yaml for S3 usage
#
Auth:
  region: "{{ region }}"
Metrics:
{%- for instance in resources %}
- Namespace: "AWS/S3"
  MetricName: "BucketSizeBytes"
  Statistics:
  - "Average"
  Dimensions:
    BucketName: "{{ instance.name }}"
    StorageType: ReducedRedundancyStorage
  Options:
    Period: 1440
    Formatter: 'cloudwatch.%(Namespace)s.{{ instance.name|replace(".", "_") }}.%(dimension)s.%(statistic)s.%(Unit)s'
- Namespace: "AWS/S3"
  MetricName: "BucketSizeBytes"
  Statistics:
  - "Average"
  Dimensions:
    BucketName: "{{ instance.name }}"
    StorageType: StandardStorage
  Options:
    Period: 1440
    Formatter: 'cloudwatch.%(Namespace)s.{{ instance.name|replace(".", "_") }}.%(dimension)s.%(statistic)s.%(Unit)s'

{% endfor %}
